RAILWAY_TOKEN=your_token_here
CONFIG_JSON={"checkIntervalMinutes":5,"timezone":"America/Santiago","rules":[{"name":"Example Rule","environmentId":"your-env-id","serviceId":null,"sleepWindow":{"start":"02:00","end":"08:00"}}]}
